body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #491048;


  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  background: #6c63ff;
  color: white;
  border: none;
  padding: 10px 20px;
}