body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #4c874e;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

button {
  background: #100e37;
  color: white;
  border: none;
  padding: 15px 25px;
}
button:hover {
  background: #4c874e;
  cursor: pointer;
}