body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #4c874e;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: rgb(67, 105, 170);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  background: #ffffff;
  color: rgb(67, 5, 125);
  border: none;
  padding: 15px 25px;
}
button:hover {
  background: #4c874e;
  cursor: pointer;
}